.user-callout.promotion-callout {
  margin: 20px 0 0;

  &.prepend-top-10 {
    margin-top: 10px;
  }

  &.append-bottom-20 {
    margin-bottom: 20px;
  }

  .user-callout-copy {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .bordered-box {
    padding: 20px;
    border-color: $border-color;
    background-color: $white;
    align-items: flex-start;

    .close {
      .dismiss-icon {
        color: $gray-darkest;
      }

      &:hover {
        .dismiss-icon {
          color: $text-color;
        }
      }
    }

    .svg-container {
      margin-right: $gl-padding;
    }
  }

  &.promotion-empty-page {
    margin-top: 56px;
  }

  &.promotion-advanced-search {
    margin: 0;
    border-bottom: solid 1px $border-color;

    h5 {
      margin-top: 0;
    }

    .bordered-box.content-block {
      border: 0;
      padding: 20px 0;
      justify-content: left;

      svg {
        height: auto;
      }
    }

    .user-callout-copy {
      margin-left: 0;
    }
  }

  .promotion-burndown-charts-content {
    justify-content: end;

    .svg-container {
      margin-left: 4px;
      margin-right: 24px;
    }

    .user-callout-copy {
      margin: 0;
    }
  }

  &.thin-callout {
    .bordered-box {
      padding: $gl-padding;
      padding-left: 40px;

      .close {
        position: relative;
        top: 0;
        right: 0;
      }
    }

    .svg-container .svg {
      max-width: 39px;
      max-height: 39px;
    }
  }
}

.promotion-modal {
  .modal-dialog {
    width: 540px;
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-body {
    margin-top: -20px;
    padding: 16px 16px 32px;
  }

  .modal-footer {
    border-top: 0;
  }
}

.promotion-issue-sidebar {
  .promotion-issue-sidebar-message {
    padding: $gl-padding-top;

    .dropdown-title {
      margin: 0 0 10px;
    }

    .btn + .btn {
      margin-top: $gl-padding-4;
    }
  }

  .btn {
    padding: $gl-vert-padding $gl-btn-padding;
    border-radius: $border-radius-default;
    display: block;
    line-height: $line-height-base;
  }

  .right-sidebar & .btn-link {
    display: inline;
    color: $blue-600;
    background-color: transparent;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $blue-800;
    }
  }
}

.promotion-issue-template-message {
  padding: $gl-padding 30px 20px $gl-padding;

  p {
    margin-right: 20px;
  }

  .dropdown-title {
    margin: 0 -25px;
    padding: 0;
    overflow: initial;
    border-bottom: 0;
  }

  .btn {
    padding: $gl-vert-padding $gl-btn-padding;
    border-radius: $border-radius-default;
    display: inline-block;
    line-height: $line-height-base;
  }

  .btn-link {
    display: inline;
    color: $blue-600;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $blue-800;
    }
  }
}

.discover-box {
  .discover-title {
    margin: 40px auto 2px;
    max-width: 500px;
  }

  .discover-carousel-img {
    margin-bottom: 12px;
    border-radius: $border-radius-default;
  }

  .discover-button {
    width: 45% !important;
  }

  .discover-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 520px;
  }

  .discover-footer {
    margin: 40px auto 2px;
    max-width: 500px;
  }

  .discover-feedback {
    bottom: 16px;
    right: 16px;
    text-align: right;
  }

  .discover-feedback-icon {
    padding-bottom: 0.5rem 0.7rem 0.7rem;

    &:hover {
      color: $blue-500;
    }
  }

  .discover-text-carousel {
    .carousel-caption {
      height: 100%;
    }
  }

  .discover-carousel {
    margin: 0 auto;
    max-width: 720px;

    .carousel-indicators {
      li {
        background-color: $gray-200;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-right: 16px;
      }

      .active {
        background-color: $gray-400;
      }
    }

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bababa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bababa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }
}
